<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    <!-- Handle opening .sbpreset files shared from other apps -->
    <!-- Preferred: when sender sets the custom mime type -->
    <intent-filter>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.DEFAULT" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="content" android:mimeType="application/x-songbook-preset" android:pathPattern=".*\\.sbpreset" />
      <data android:scheme="file" android:mimeType="application/x-songbook-preset" android:pathPattern=".*\\.sbpreset" />
    </intent-filter>

    <!-- Fallback: some apps send generic mime types. Match by extension for content:// -->
    <intent-filter>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.DEFAULT" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="content" android:mimeType="*/*" android:pathPattern=".*\\.sbpreset" />
    </intent-filter>

    <!-- Fallback: match file:// URIs by extension when mime is generic -->
    <intent-filter>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.DEFAULT" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.sbpreset" />
    </intent-filter>
      </activity>
      <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-3054958321666076~8110851931"
      tools:replace="android:value"/>
    </application>
</manifest>
